:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  user-select: none;
}

input {
  font-family: inherit;
  font-size: inherit;
}